* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #F5F5F5;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  display: inline-block;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
}

section {
  margin: 20px;
}

section h2 {
  margin-top: 0;
}
    
.content-info {
display: flex;
flex-direction: column;
row-gap: 1em;
align-items: center;
background-color: gray;
padding: 1em;
  
}
.content-info img {
  max-width: 50%;
}

form label {
  display: block;
  margin-bottom: 10px;
}


@media screen and (min-width: 500){
  .content-info {
    display: flex;
    flex-direction: flex-end;
    max-width: 100%;
    
  }
}